<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>AtubeApi</servlet-name>
        <servlet-class>com.fpt.controller.AtubeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtubeApi</servlet-name>
        <url-pattern>/atube</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Jstl_Test</servlet-name>
        <servlet-class>com.fpt.controller.Jstl_Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jstl_Test</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubscriberDemo</servlet-name>
        <servlet-class>com.fpt.pubsub.SubscriberDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscriberDemo</servlet-name>
        <url-pattern>/subscriber</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddQueue</servlet-name>
        <servlet-class>com.fpt.taskqueue.AddQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQueue</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQueue</servlet-name>
        <servlet-class>com.fpt.taskqueue.GetQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQueue</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCreawlerSource</servlet-name>
        <servlet-class>com.fpt.controller.AddCrawlerSourceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCreawlerSource</servlet-name>
        <url-pattern>/admin/crawler-source</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <filter-class>com.fpt.filter.ObjectifyRegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.fpt.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>atube</web-resource-name>
            <url-pattern>/list</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>